<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Hari</th>
                <th>Tanggal</th>
                <th>Tim</th>
                <th></th>
                <th>Tim</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jumat</td>
                <td>27 Agustus 2021</td>
                <td>Aura Fire</td>
                <td>vs</td>
                <td>Alter Ego</td>
            </tr>
            <tr>
                <td>Jumat</td>
                <td>27 Agustus 2021</td>
                <td>EVOS Legends</td>
                <td>vs</td>
                <td>Onic Esport</td>
            </tr>
            <tr>
                <td>Sabtu</td>
                <td>28 Agustus 2021</td>
                <td>Rebellion Genflix</td>
                <td>vs</td>
                <td>Aura Fire</td>
            </tr>
            <tr>
                <td>Sabtu</td>
                <td>28 Agustus 2021</td>
                <td>Bigetron Alpha</td>
                <td>vs</td>
                <td>Alter Ego</td>
            </tr>
            <tr>
                <td>Sabtu</td>
                <td>28 Agustus 2021</td>
                <td>RRQ Hoshi</td>
                <td>vs</td>
                <td>EVOS Legends</td>
            </tr>
            <tr>
                <td>Minggu</td>
                <td>29 Agustus 2021</td>
                <td>Geek Fam</td>
                <td>vs</td>
                <td>Onic Esports</td>
            </tr><tr>
                <td>Minggu</td>
                <td>29 Agustus 2021</td>
                <td>RRQ Hoshi</td>
                <td>vs</td>
                <td>Rebellion Genflix</td>
            </tr>
        </tbody>