<p>Mobile Legends adalah sebuah game yang bisa dimainkan di smartphone Android dan juga iOS. Game yang memiliki lama permainan antara 15 menit untuk satu rondenya ini adalah sebuah game yang sudah banyak mencuri perhatian untuk para pemainnya terhitung sejak tahun 2016.</p>
<p>Mobile Legends: Bang Bang Southeast Asia Cup atau MSC merupakan turnamen resmi Mobile Legends yang akan mempertemukan beberapa negara Asia Tenggara. Peserta turnamen ini merupakan tim yang berhasil menjadi juara pada kompetisi Mobile Legends di negaranya</p>
<p>Kompetisi Mobile Legends Professional League Indonesia alias MPL ID Season 8 telah berlangsung sejak 13 Agustus 2021 dan pada hari ini musim reguler resmi tuntas.
    Pekan kedelapan MPL ID Season 8 Week 8 D3, Minggu (3/10) menyajikan dua laga, yaitu duel tim papan bawah antara Geek Fam ID dan Rebellion Genflix, ditambah pertarungan papan atas antara Alter Ego dan ONIC Esports.
    Geek Fam ID berhasil menutup musim dengan kemenangan 2-1 atas Rebellion namun hasil ini tidak berarti apapun mengingat mereka gagal melangkah ke babak playoff sementara sang lawan terkunci di dasar klasemen.
    Di laga kedua, ONIC Esports melibas Alter Ego 2-0 untuk menjadi penguasa musim reguler sekaligus mengamankan tiket ke upper-bracket babak play-off.</p>
    
    <div class="text-center pt-5 pt-5">
        <img src="assets/bg.png" class="img-fluid w-25" alt="...">
    </div>